@use './partials/variables';
@use './partials/header';
@use './partials/image_banner';
@use './partials/slider';
@use './partials/rich_text';
@use './partials/footer';
@use './partials/breakpoints';
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');

* {
	font-family: 'Helvetica Neue', sans-serif;
}

.shopify-section.shopify-section-group-header-group.section-header.scrolled-past-header.shopify-section-header-hidden.shopify-section-header-sticky {
	z-index: 11;
	sticky-header {
		background-color: variables.$color_green;
	}
}

.shopify-section.shopify-section-group-header-group.section-header.scrolled-past-header.shopify-section-header-sticky.animate.menu-open {
	sticky-header {
		background-color: variables.$color_green;
	}
}

.shopify-section.shopify-section-group-header-group.section-header.menu-open {
	sticky-header {
		background-color: variables.$color_green;
	}
}


sticky-header {
	&.header-wrapper--border-bottom {
		border-bottom: unset;
	}

	&.color-scheme-#{variables.$scheme_id}{
		@include header.custom_menu;
	}
}


.banner {
	&:first-of-type {
		@include image_banner.custom_banner;
	}
}

.footer {
	&.color-scheme-#{variables.$scheme_id} {
		@include footer.custom_footer;
	}
}

#shopify-section-template--18620903293179__custom_rich_text_ynyT6Q .content-container {
	background-color: variables.$color_gray;

	.rich-text__blocks {
		@include breakpoints.display-large {
			max-width: 110rem;
		}

		@include breakpoints.display-medium {
			max-width: 90%;
		}
	}
}

.custom-rich-section-container {
	@include rich_text.custom_rich_text;
}

.custom_slider {
	height: 468px;

	@include breakpoints.display-tablet {
		height: auto;
	}

	@include breakpoints.display-medium {
		height: auto;
	}

	@include breakpoints.display-large {
		height: 468px;
	}
	
	.custom_slider__container {
		@include slider.custom_slider;
	}
}