@use "./breakpoints";

@mixin custom_menu {
	background: transparent;
	position: absolute;
	width: 100%;

	header {
		&.page-width {
			margin: 0;
			width: 100%;
			&:not(.drawer-menu) {
				@include breakpoints.display_large {
					padding: 0;
				}
			}
		}

		.header__heading {
			width: 105px;
			margin-top: 0px;
			display: flex;
			justify-content: center;

			.header__heading-link {
				padding: 0;
				@include breakpoints.display_large {
					margin-left: 3px;
					margin-top: 3px;
				}
			}
		}

		.header__inline-menu {
			width: 579px;
			margin-top: 43px;
			margin-left: 38px;

			.list-menu--inline {
				width: 561px;
				justify-content: space-between;

				.header__menu-item {
					//padding: 12px 14px 14px 14px;
				}
			}
		}

		.header__heading-logo-wrapper {
			width: 37px;
			height: 37px;
		}

		&:not(.header--top-center) {
			* > .header__search {
				@include breakpoints.display-large {
					display: none;
				}
			}
		}

		.header__icon--cart {
			display: none;
		}
	}
	
	nav {
		a {
			span {
				font-size: 16px;
				font-stretch: normal;
				font-style: normal;
				font-weight: normal;
				letter-spacing: 1.5px;
				line-height: normal;
				&.header__active-menu-item {
					display: inline-block;
					font-weight: bold;
					letter-spacing: 1.4px;
					position: relative;
					text-decoration: none;

					&::after {
						background-color: #fff;
						content: "";
						height: 2px;
						left: 0;
						position: absolute;
						top: 30px;
						width: 15px;
					}
				}
			}
		}
	}

	#HeaderLanguageForm {
		width: 72px;
		position: absolute;
    right: 8.5rem;
    top: 5rem;

		ul {
			display: inline-flex;
			justify-content: flex-start;
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				&:not(:first-of-type) {
					margin-left: 1.5rem;
				}
				a {
					text-decoration: none;
					span {
						font-size: 13px;
						font-weight: bold;
						font-stretch: normal;
						font-style: normal;
						line-height: normal;
						letter-spacing: 1.14px;
						color: #fff;
					}
				}
			}
		}
	}
}