@mixin custom_rich_text {
	display: flex;
	flex-direction: row;
	// min-width: 65em;

	h1 {
		font-size: 40px;
	}

	.rich-text__caption {
		color: #cbe346;
		font-size: 16px;
		margin-top: 2.8em;
	}

	a {
		background-color: #ffffff;
		color: #000;
		height: 20px;
		width: 220px;

		&.button.button--primary {
			border-radius: 30px;	
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			opacity: 1;
		}

		&.button.button--primary::after {
			border-radius: 30px;
		}
	}

	.rich-text__buttons {
		margin-top: 12em;
	}

	.custom-rich-main-container {
		margin: 0 3em;
		width: 26em;
	}
}