@use './variables';
@use './breakpoints';

@mixin custom_slider {
	min-height: 468px;
	display: inline-flex;
  flex-wrap: nowrap;
	position: relative;
	overflow: hidden;

	.slider-and-cards {
		display: flex;
		width: 100%;
	
		.slider-section {
			position: relative;
			flex: 1;
			margin-left: 1px;
		}
	
		.slides {
			display: flex;
			transition: transform 0.5s ease;
			width: 100%;
			max-width: 530px;
			height: auto;
	
			.slide {
				min-width: 100%;
				opacity: 0;
				transition: opacity 0.5s ease;
	
				&.active {
					opacity: 1;
				}
			}
		}
	
		.slider-text {
			width: 400px;
			position: absolute;
			top: 10px;
			left: 56.5%;
			transform: translateX(-50%);
			text-align: center;
			color: #fff;
			z-index: 10;
	
			h2 {
				font-size: 50px;
				font-weight: normal;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.28;
				letter-spacing: -0.06px;
				color: #fff;
				margin-bottom: 0;

				span {
					font-weight: bold;
					margin-left: 29px;
				}
			}
	
			p {
				font-size: 18px;
				font-weight: normal;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.67;
				letter-spacing: 0.51px;
				color: #fff;
				margin-top: 10px;
				margin-left: 100px;
				text-align: left;
			}
		}
	
		.dots {
			position: absolute;
			bottom: 16.1rem;
			left: 46%;
			transform: translateX(-50%);
			display: flex;
			gap: 2rem;
	
			.dot {
				height: 7.8px;
				width: 8px;
				background-color: #ebebeb;
				border-radius: 50%;
				cursor: pointer;
	
				&.active {
					background-color: variables.$color_green;
				}
			}

			@include breakpoints.display-medium {
				left: 50%;
			}
		}
	
		.slider-buttons {
			position: absolute;
			bottom: 70px;
			left: 25.1rem;
			transform: translateX(-50%);
			display: flex;
			gap: 15px;
	
			.circle-button {
				width: 54px;
				height: 54px;
				border-radius: 50%;
				background-color: transparent;
				border: 1px solid #fff;
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: center;
				z-index: 10;
			}
	
			.prev-button::before {
				content: '';
				position: absolute;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 8px 12px 8px 0;
				border-color: transparent white transparent transparent;
			}
	
			.next-button::before {
				content: '';
				position: absolute;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 8px 0 8px 12px;
				border-color: transparent transparent transparent white;
			}
	
			.next-button {
				border: none;
				background-color: variables.$color_green;
			}

			@include breakpoints.display-medium {
				left: 50%;
			}
		}
	
		.cards-container {
			width: 100%;
			overflow: hidden;
			display: flex;
			flex-direction: row;
			gap: 36px;
			padding-left: 52px;
			align-items: center;
			justify-content: flex-start;
	
			.card {
				position: relative;
	
				img {
					width: 288px;
					height: auto;
					object-fit: cover;
				}
	
				.card-number {
					position: absolute;
					top: 8px;
					left: 8px;
					background-color: variables.$color_green;
					color: #fff;
					width: 39px;
					height: 39px;
					border-radius: 50%;
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 14px;
				}
			}

			@include breakpoints.display-medium {
				flex-direction: column;
			}
		}

		@include breakpoints.display-medium {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}

	@include breakpoints.display-medium {
		height: auto;
		width: 100%;
	}
};