@import url("https://fonts.cdnfonts.com/css/helvetica-neue-55");
* {
  font-family: "Helvetica Neue", sans-serif;
}

.color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 {
  background: transparent;
  position: absolute;
  width: 100%;
}
.color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 header.page-width {
  margin: 0;
  width: 100%;
}
@media only screen and (min-width: 990px) {
  .color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 header.page-width:not(.drawer-menu) {
    padding: 0;
  }
}
.color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 header .header__heading {
  width: 105px;
  margin-top: 8px;
  display: flex;
  justify-content: center;
}
.color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 header .header__heading .header__heading-link {
  padding: 0;
}
@media only screen and (min-width: 990px) {
  .color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 header .header__heading .header__heading-link {
    margin-left: 3px;
    margin-top: 3px;
  }
}
.color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 header .header__inline-menu {
  width: 579px;
  margin-top: 48px;
  margin-left: 38px;
}
.color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 header .header__inline-menu .list-menu--inline {
  width: 561px;
  justify-content: space-between;
}
.color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 header .header__heading-logo-wrapper {
  width: 37px;
  height: 37px;
}
@media only screen and (min-width: 990px) {
  .color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 header:not(.header--top-center) * > .header__search {
    display: none;
  }
}
.color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 header .header__icon--cart {
  display: none;
}
.color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 nav a span {
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 1.5px;
  line-height: normal;
}
.color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 nav a span.header__active-menu-item {
  display: inline-block;
  font-weight: bold;
  letter-spacing: 1.4px;
  position: relative;
  text-decoration: none;
}
.color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 nav a span.header__active-menu-item::after {
  background-color: #fff;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  top: 30px;
  width: 15px;
}
.color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 #HeaderLanguageForm {
  width: 72px;
  position: absolute;
  right: 8.5rem;
  top: 5.5rem;
}
.color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 #HeaderLanguageForm ul {
  display: inline-flex;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}
.color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 #HeaderLanguageForm ul li:not(:first-of-type) {
  margin-left: 1.5rem;
}
.color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 #HeaderLanguageForm ul li a {
  text-decoration: none;
}
.color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 #HeaderLanguageForm ul li a span {
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.14px;
  color: #fff;
}

@media only screen and (min-width: 750px) {
  .banner.banner--large:not(.banner--adapt) {
    min-height: 78.5rem;
  }
}
.banner .banner__content::before {
  content: "";
  position: absolute;
  top: -26px;
  left: -16px;
  height: calc(78.5rem + 52px);
  width: 2px;
  background-color: #fff;
}

/*# sourceMappingURL=custom_design.css.map */
