@import url("https://fonts.cdnfonts.com/css/helvetica-neue-55");
* {
  font-family: "Helvetica Neue", sans-serif;
}

.shopify-section.shopify-section-group-header-group.section-header.scrolled-past-header.shopify-section-header-hidden.shopify-section-header-sticky {
  z-index: 11;
}
.shopify-section.shopify-section-group-header-group.section-header.scrolled-past-header.shopify-section-header-hidden.shopify-section-header-sticky sticky-header {
  background-color: #cbe346;
}

sticky-header.header-wrapper--border-bottom {
  border-bottom: unset;
}
sticky-header.color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 {
  background: transparent;
  position: absolute;
  width: 100%;
}
sticky-header.color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 header.page-width {
  margin: 0;
  width: 100%;
}
@media only screen and (min-width: 990px) {
  sticky-header.color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 header.page-width:not(.drawer-menu) {
    padding: 0;
  }
}
sticky-header.color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 header .header__heading {
  width: 105px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
}
sticky-header.color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 header .header__heading .header__heading-link {
  padding: 0;
}
@media only screen and (min-width: 990px) {
  sticky-header.color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 header .header__heading .header__heading-link {
    margin-left: 3px;
    margin-top: 3px;
  }
}
sticky-header.color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 header .header__inline-menu {
  width: 579px;
  margin-top: 43px;
  margin-left: 38px;
}
sticky-header.color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 header .header__inline-menu .list-menu--inline {
  width: 561px;
  justify-content: space-between;
}
sticky-header.color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 header .header__heading-logo-wrapper {
  width: 37px;
  height: 37px;
}
@media only screen and (min-width: 990px) {
  sticky-header.color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 header:not(.header--top-center) * > .header__search {
    display: none;
  }
}
sticky-header.color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 header .header__icon--cart {
  display: none;
}
sticky-header.color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 nav a span {
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 1.5px;
  line-height: normal;
}
sticky-header.color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 nav a span.header__active-menu-item {
  display: inline-block;
  font-weight: bold;
  letter-spacing: 1.4px;
  position: relative;
  text-decoration: none;
}
sticky-header.color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 nav a span.header__active-menu-item::after {
  background-color: #fff;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  top: 30px;
  width: 15px;
}
sticky-header.color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 #HeaderLanguageForm {
  width: 72px;
  position: absolute;
  right: 8.5rem;
  top: 5rem;
}
sticky-header.color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 #HeaderLanguageForm ul {
  display: inline-flex;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}
sticky-header.color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 #HeaderLanguageForm ul li:not(:first-of-type) {
  margin-left: 1.5rem;
}
sticky-header.color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 #HeaderLanguageForm ul li a {
  text-decoration: none;
}
sticky-header.color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 #HeaderLanguageForm ul li a span {
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.14px;
  color: #fff;
}

@media only screen and (min-width: 750px) {
  .banner:first-of-type.custom_banner.banner--large:not(.banner--adapt) {
    min-height: 78.5rem;
  }
}
.banner:first-of-type.custom_banner .banner__content::before {
  content: "";
  position: absolute;
  top: -26px;
  left: -16px;
  height: calc(78.5rem + 52px);
  width: 2px;
  background-color: #fff;
}
.banner:first-of-type.custom_banner .color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 .banner__heading {
  font-size: 53px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.28;
  letter-spacing: -0.05px;
  color: #fff;
  margin-left: 1px;
}
.banner:first-of-type.custom_banner .color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 .banner__heading span {
  font-weight: bold;
  color: #cbe346;
  margin-left: 1px;
  letter-spacing: 2px;
}
.banner:first-of-type.custom_banner .color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 .banner__buttons {
  position: relative;
  top: 13px;
}
.banner:first-of-type.custom_banner .color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 .banner__buttons a {
  opacity: 1;
  padding: 12px 20px 12px 32px;
  margin-left: 2px;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.15;
  letter-spacing: 1.4px;
}
.banner:first-of-type.custom_banner .color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 .banner__buttons a::after {
  border-radius: 26.5px;
  border: solid 1px #fff;
  --border-opacity: unset;
}
.banner:first-of-type.custom_banner .color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 .banner__buttons a span {
  display: flex;
}

.footer.color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 {
  background: #cbe346;
}
.footer.color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 .footer__content-bottom {
  display: none;
}
.footer.color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 .footer__content-top {
  padding-top: 64px;
  padding-left: 0;
  padding-right: 0;
}
.footer.color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 .footer__content-top .footer-block--menu ul {
  display: inline-flex;
}
.footer.color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 .footer__content-top .footer-block--menu ul li a {
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.14px;
  color: #2b3049;
}
.footer.color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 .footer__content-top .footer-block--menu ul li a.list-menu__item--active {
  font-weight: bold;
  text-decoration: none;
}
.footer.color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 .footer__content-top .footer-block__image-wrapper img {
  width: 55px;
  height: 55px;
}
.footer.color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 .footer__content-top .footer-block--newsletter {
  justify-content: flex-start;
  margin-top: 0;
}
.footer.color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 .footer__content-top .footer-block--newsletter ul {
  gap: 12px;
}
.footer.color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 .footer__content-top .footer-block--newsletter ul .list-social__item a {
  border-radius: 50%;
  border: 1px solid #fff;
  width: 31px;
  height: 31px;
  padding: 8px;
}
.footer.color-scheme-9cdce5d4-224f-46b6-9b44-ae10ba81c856 .footer__content-top .footer-block--newsletter ul .list-social__item a .svg-wrapper {
  width: 31px;
  height: 31px;
}

#shopify-section-template--18620903293179__custom_rich_text_ynyT6Q .content-container {
  background-color: #f3f4f8;
}

.custom-rich-section-container {
  display: flex;
  flex-direction: row;
}
.custom-rich-section-container h1 {
  font-size: 40px;
}
.custom-rich-section-container .rich-text__caption {
  color: #cbe346;
  font-size: 16px;
  margin-top: 2.8em;
}
.custom-rich-section-container a {
  background-color: #ffffff;
  color: #000;
  height: 20px;
  width: 220px;
}
.custom-rich-section-container a.button.button--primary {
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  opacity: 1;
}
.custom-rich-section-container a.button.button--primary::after {
  border-radius: 30px;
}
.custom-rich-section-container .rich-text__buttons {
  margin-top: 12em;
}
.custom-rich-section-container .custom-rich-main-container {
  margin: 0 3em;
  width: 26em;
}

.custom_slider {
  height: 468px;
}
.custom_slider .custom_slider__container {
  min-height: 468px;
  display: inline-flex;
  flex-wrap: nowrap;
  position: relative;
  overflow: hidden;
  display: flex;
}
.custom_slider .custom_slider__container .slider-and-cards {
  display: flex;
  width: 100%;
}
.custom_slider .custom_slider__container .slider-and-cards .slider-section {
  position: relative;
  flex: 1;
  margin-left: 1px;
}
.custom_slider .custom_slider__container .slider-and-cards .slides {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
  max-width: 530px;
  height: auto;
}
.custom_slider .custom_slider__container .slider-and-cards .slides .slide {
  min-width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.custom_slider .custom_slider__container .slider-and-cards .slides .slide.active {
  opacity: 1;
}
.custom_slider .custom_slider__container .slider-and-cards .slider-text {
  width: 400px;
  position: absolute;
  top: 10px;
  left: 56.5%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  z-index: 10;
}
.custom_slider .custom_slider__container .slider-and-cards .slider-text h2 {
  font-size: 50px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.28;
  letter-spacing: -0.06px;
  color: #fff;
  margin-bottom: 0;
}
.custom_slider .custom_slider__container .slider-and-cards .slider-text h2 span {
  font-weight: bold;
  margin-left: 29px;
}
.custom_slider .custom_slider__container .slider-and-cards .slider-text p {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: 0.51px;
  color: #fff;
  margin-top: 10px;
  margin-left: 100px;
  text-align: left;
}
.custom_slider .custom_slider__container .slider-and-cards .dots {
  position: absolute;
  bottom: 16.1rem;
  left: 46%;
  transform: translateX(-50%);
  display: flex;
  gap: 2rem;
}
.custom_slider .custom_slider__container .slider-and-cards .dots .dot {
  height: 7.8px;
  width: 8px;
  background-color: #ebebeb;
  border-radius: 50%;
  cursor: pointer;
}
.custom_slider .custom_slider__container .slider-and-cards .dots .dot.active {
  background-color: #cbe346;
}
.custom_slider .custom_slider__container .slider-and-cards .slider-buttons {
  position: absolute;
  bottom: 70px;
  left: 25.1rem;
  transform: translateX(-50%);
  display: flex;
  gap: 15px;
}
.custom_slider .custom_slider__container .slider-and-cards .slider-buttons .circle-button {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.custom_slider .custom_slider__container .slider-and-cards .slider-buttons .prev-button::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 12px 8px 0;
  border-color: transparent white transparent transparent;
}
.custom_slider .custom_slider__container .slider-and-cards .slider-buttons .next-button::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 0 8px 12px;
  border-color: transparent transparent transparent white;
}
.custom_slider .custom_slider__container .slider-and-cards .slider-buttons .next-button {
  border: none;
  background-color: #cbe346;
}
.custom_slider .custom_slider__container .slider-and-cards .cards-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: 36px;
  padding-left: 52px;
  align-items: center;
  justify-content: flex-start;
}
.custom_slider .custom_slider__container .slider-and-cards .cards-container .card {
  position: relative;
}
.custom_slider .custom_slider__container .slider-and-cards .cards-container .card img {
  width: 288px;
  height: auto;
  object-fit: cover;
}
.custom_slider .custom_slider__container .slider-and-cards .cards-container .card .card-number {
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: #cbe346;
  color: white;
  width: 39px;
  height: 39px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

/*# sourceMappingURL=custom_design.css.map */
